<!DOCTYPE html>
<html>

<head>
    <title>Getting started with Vue.js</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <!-- v-cloak hides the function thats running in the background (check CSS)-->
    <div id="app1" v-cloak>
        <h1> {{header}}</h1>
        <!-- when calling methods make sure to  invoke ()-->
        <p>created by {{fullName()}}</p>
        <p> {{message}}</p>

        <hr />
        <!-- v-model grabs the corresponding value in the data object from app.js -->
        <label> First Name:</label>
        <input type="text" v-model="firstName" />

        <label> Last Name:</label>
        <input type="text" v-model="lastName" />

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>